body{
    margin: 0;
    padding: 0;
    
}
header{
    max-width: 1000px;
    height: 36px;
    margin: auto;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}
ul li {
    text-decoration: none;
    display: inline;
    padding: 0 auto;
    letter-spacing: 0.6px;
    font-family: 'Montserrat', sans-serif;
}
li{
    padding: 10px;
    font-size: 12px;
    line-height: 12px;
}
a{
    text-decoration: none;
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto 100px;
}
.container{
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}
.logo{
    margin: auto;
    padding: 40px 0;
}
.menu{
    margin: 0 auto;
}

.menu-list{
    font-size: 14px;
    line-height: 14px;
    padding: 0 20px;
    text-transform: uppercase;
}
.select{
    position: relative;
    font-family: "Montserrat", "sans-serif";
    border: none;
    font: 14px "Montserrat";
    line-height: 14px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.select select{
    border: none;
}
.select option{
    border: none;
    padding: 10px;
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.image{
    width: 500px;
    height: 750px;
    background-size: cover;
    background-position: center;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}
p{           
    margin: 0 0 20px;
}
.title{
    font-size: 65px;
    line-height: 65px;
    font-weight: 500;
}
.sub-title{
    font-size: 20px;
    line-height: 20px;
}
footer{
    max-width: 1000px;
    margin: 0 auto;
    height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer{
    font-size: 12px;
    line-height: 12px;
    color: #969696;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-cp{
    margin: 0;
}
.footer-menu{
    margin: 0;
}
.footer-menu p{
    margin: 0 ;
    padding: 0 10px;
    color: #969696;
    border-right: 1px solid #969696;
}
.linkers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.copyright{
    display: flex;
    flex-direction: column;
    justify-content: end;
}